/* @import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Patrick+Hand+SC&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand:wght@300;400;500;600;700&display=swap"); */

@import "tailwindcss";
/* @import "tw-animate-css"; */

/* :root {
  --background: #fcf3dc;
  --foreground: #969c52;
  --color-background: var(--background);
  --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-quicksand);
  --font-mono: var(--font-patrick-hand-sc);
  --font-hand: var(--font-patrick-hand);
  --font-hand-sc: var(--font-patrick-hand-sc); */


html {
  scroll-behavior: smooth;
}



body {
  background: #fcf3dc;
  overflow-x: hidden;
}


body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars - Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

html {
  scroll-behavior: smooth;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--font-hand-sc), cursive;
}

h2 {
  font-family: var(--font-hand), cursive;
}